.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #f4f4f4;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e3d5ca;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d2c5b3;
}
